/*
	ノートのやつ
*/

/*親*/
.NOTE{
	margin: 10px;

	background-color: white;

	border-radius: 10px;
}

/*ゆーざー*/
.NOTE > .USER{
	display: inline;

	vertical-align: middle;
}

.NOTE > .USER > img{
	width: 58px;
	height: 58px;

	vertical-align: middle;
}

/*インスタンスのあれ*/
.NOTE > .USER > .INSTANCE{
	vertical-align: middle;
}

.NOTE > .USER > .INSTANCE > img{
	/*アイコンサイズは文字サイズを同じにしてる、環境によって変わる？？*/
	width: 22px;
	height: 22px;

	vertical-align: middle;
}